<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!--        <navbar selection>-->
    <header>
        <h2 class="logo"> logo </h2>
<!--        navbar checkbox & hamburger-->
        <input type="checkbox" id="checkbox_toggle">
        <label for="checkbox_toggle" class="hamburger">&#9776</label>
<!--        navbarMenu-->
        <nav class="navbar">
            <a href="home.html">HomePage</a>
            <a href="reg.html">Registration</a>
            <a href="auth.html">Authorisation</a>
            <a href="auth.html">Library</a>
            <button class="navbar-btn">Login</button>
        </nav>
    </header>
</body>
</html>
