
<!DOCTYPE html>
<html lang="en" xmlns:s="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<div class="container">
    <h2>Registration</h2>
    <form th:action="@{/reg}" method="post">
        <label for="firstname"> First name </label>
        <input type="text" id="firstname" name="firstname" required>

        <label for="lastname"> LastName </label>
        <input type="text" id="lastname" name="LastName">

        <label for="userName"> UserName </label>
        <input type="text" id="userName" name="Username">

        <button type="submit"> Registration</button>
    </form>
</div>


</body>
</html>