<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body style="display:flex; align-items:center; justify-content:center;">
<div class="login-page">
    <div class="form">
        <form action="/user/reg" class="register-form" method="POST" modelAttribute="newUser" >
            <h2>Registration</h2>
            <input type="text" name="name" placeholder="name*" required/>
            <input type="text" name="username" placeholder="username *" required/>
            <input type="password" name="password" placeholder="Password *" required/>
            <button class="btn" type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Create
            </button>
            <p class="message">Already registered? <a href="/user/auth">Sign In</a></p>
        </form>
        <form action="/login/auth" class="login-form" method="post">
            <h2></i> Login </h2>
            <input type="text" name="username" placeholder="Username" required />
            <input type="password" name="password" placeholder="Password" required/>
            <a class="btn">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Sign in
            </a>
            <p class="message">Not registered? <a href="/user/reg">Create an account</a></p>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/main.js"></script>
</body>
</html>